<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <h3 class="navbar-brand">Sistema Web</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-sm btn-primary mx-1" type="button">Cadastrar</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary mx-1" type="button">Consultar</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-sm btn-primary mx-1" type="button">Atualizar</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <h4>Consultar</h4>
      <p>Sistema utilizado para agendamentos de serviços</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-start fs-5">Cadastrar - Agendamento de Potenciais Clientes</p>
      <p class="text-start fs-6">Sistema Utilizado para agendamento de serviços.</p>
      <div class="container text-center overflow-auto">
        <div class="row bg-primary text-light align-items-start d-flex flex-wrap">
          <div class="col-sm">Nome</div>
          <div class="col-sm">Telefone</div>
          <div class="col-sm">Origem</div>
          <div class="col-sm">Data de Contato</div>
          <div class="col-sm">Observação</div>
          <div class="col-sm">Ações</div>
        </div>

        <!-- Exemplo de repetição de dados usando Handlebars -->
        {{#each post}}
        {{#dataValues}}
        <div class="row bg-light align-items-center d-flex flex-wrap">
          <div class="col-sm">{{nome}}</div>
          <div class="col-sm">{{telefone}}</div>
          <div class="col-sm">{{origem}}</div>
          <div class="col-sm">{{data_contato}}</div>
          <div class="col-sm">{{observacao}}</div>
          <div class="col-sm">
            <button type="button" class="btn btn-primary mt-2"><a href="" style="color:inherit">Editar</a></button>
            <button type="button" class="btn btn-danger ms-2 mt-2"><a href="" style="color:inherit">Excluir</a></button>
          </div>
        </div>
        {{/dataValues}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
